<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood Fill Morfológico - PDI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Flood-Fill Morfológico</h1>
    <div class="toolbar">
        <button id="pencil">Lápis</button>
        <button id="bucket">Balde</button>
        <input type="color" id="colorPicker" value="#000">
    </div>
    <canvas id="drawingCanvas" width="500" height="500"></canvas>
    <script src="/js/app.js"></script>
</body>

</html>